/*Para toda la página*/
*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;  
}
body{
  background-color: #f5deb3;
}
/*Estilos de barra de navegacion*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
  li {
    border-right: 1px solid #bbb;
  }
  
  li:last-child {
    border-right: none;
  }
/*Estilos de las cartas*/
section{
    display: flex;
    justify-content:center;
    width: 100%;
    max-width: 400px;
    margin: 100px;
    float: left;
    border: none;
    margin-left: 135px;
    
}

.card{
    display: grid;
    justify-items: center;
    margin-top: 50px;
    width: 250px;
    height: 350px;
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 25px #ef93ff;
    transform: scale(var(--escala, 1));
    transition: transform 0.25s;
}
.card:hover{
  --escala: 1.2;
  cursor:pointer;
}
.card img{
    margin-top: 40px;
    box-shadow: 0px 0px 10px goldenrod;
    width: 60%;
    border-radius: 50%;
    object-fit: scale-down;
   
}

.card p{
    text-align: center;
}

.card p:nth-child(3){
    color: grey;
    margin-top: -60px;
    font-size: 20px;
}

.card p:nth-child(2){
    margin-top: 5px;
    font-weight: 600;
    font-size: 30px;
    color: #e02fff;
}

.card #boton{
    color: #ffffff;
    font-size: 30px;
    width: 100%;
    background-color: #e02fff;
    text-align: center;
}
/*Prueba */
