*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
  }
  body{
    background-color: #f5deb3;
  }
/*estilo formulario*/
form{
	width:400px;
	padding:32px;
	border:1px solid #000;
	border-radius:10px;
	margin:32px auto;
	background-color:#b2ccff;
}
input[type="text"],textarea{
	display:block;
	padding:4px 8px;
	width:100%;
	margin:8px 0;
}
textarea{height:96px;resize:none;}


label{
	font-weight:bold;
	display:block;
	margin:8px 0;
}
select{
  display:block;
  padding: 4px 8px;
  width:105%;
  margin:8px 0;	
   
}
.marketing label,.rgpd{display:inline-block;font-weight:normal;}
.rgpd{width:90%;}
mark{float:right;}

/*Estilos de barra de navegacion*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
  li {
    border-right: 1px solid #bbb;
  }
  
  li:last-child {
    border-right: none;
  }
/*Estilo para la tabla*/
table {
  width: 100%;
  border: 1px solid #000;
}
th, td {
width: 10%;
text-align:center;
vertical-align: center;
border: 1px solid #000;
border-collapse: collapse;
padding: 0.4em;
caption-side: bottom;
}
th {
  background: #eee;
}
